*{margin:0; padding:0;}
li{list-style: none;}
/* body{
    background: url('../img/1.jpg');
} */

/* @font-face{  // 引入字体
    font-family: myFront;
    src: url('../fonts/fontawesome-webfont.ttf');
}
.bicycle{
    font-family: myFront;
    font-size: 50px;
}
.bicycle:before{
    content: '\f206';
} */

.ot{
    background:yellowgreen;
}
#hell{
    background: bisque;
}

.test{
    background: blueviolet;
}

.container{
    border-top: 1px solid rgb(226, 221, 221);
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
}
a{
    height: 50px;
    text-align: center;
    flex: 1;
    font-size: 12px;
}
li{
    height: 50px;
    text-align: center;
    flex: 1;
    font-size: 12px;
}
img{
    height:25px;
}
.active{
    color: red;
}